name: CI

on:
  push:
  workflow_dispatch:

jobs:
  lint-test:
    name: Lint & test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: ['20.x', '22.x', '24.x']
    steps:
      - name: Check out repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Set up Node.js v${{ matrix.node-version }}
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
      - name: Install npm dependencies
        run: npm install
      - name: Run lint
        run: npm run lint
      - name: Run tests
        run: npm test -- --ci --coverage --runInBand
      - name: Upload test reports
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: test-reports-${{ matrix.node-version }}
          path: test/reports
      - name: Upload test coverage
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: test-coverage-${{ matrix.node-version }}
          path: test/coverage
